Header set Content-Security-Policy "script-src 'self' 'unsafe-inline' 'unsafe-eval';"

<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /Sistema_encuesta/public/
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ index.php?route=$1 [L,QSA]
</IfModule>
